<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

          <!-- Google result text-->
        <title>Erika Chaudhary writer who learned to code</title>
        <!-- Google result description-->
        <meta name="description" content="Writer who learned to code">

        <!--<meta property="og:title" content="Le Wagon - The French innovative coding school">
        <meta property="og:image" content="facebook-card.jpg">
        <meta property="og:description" content="Le Wagon is the best French coding school for entrepreneurs. Checkout by yourself the projects of our students. You will be impressed.">
        <meta property="og:site_name" content="Le Wagon"/>-->
        
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <!-- Fontawesome -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <div class="container">

        <div class="card text-center">
            <h1>Erika Petkunaite</h1>
            <br>
            <br>
            <table class="abouterika">
                <tbody>
                    <tr>
                        <td>
                            <h3>Writer who leared to Code </h3>
                            <p>I have always been a writer whether I wrote or not. I am a writer who learned to code. Writing and coding has the same magic! It’s super creative and I can create anything I like when it comes to writing and coding. Who would have thought these two fields have so much in common?!<p> 

                            <p>I was never too technical. However, code is fun as is writing. I got into coding because of my husband. He is a full stack developer, security engineer and an undiscovered architect.<p> 

                            <p><strong>Career</strong><p> 
                            <p>My career started as a PA in a government office. I was a Personal Assistant to a Syrian Ambassador. I organised many events mainly promoting Syria and Golan Heights. I moved on to a corporate world and worked in oil & gas industry Petrofac/EnQuest while studying English Literature part-time at a University of London.<p> 

                            <p>I then moved on and worked at a telecommunications company Samsung and changed my career to Marketing field. I worked on various projects (Samsung phones) and studied part - time for my McS in Marketing at the University of London.<p> 
                            
                            <p>I took time out and did writers course in South Africa, Swaziland. It was the best almost a month in my life. I am working on my book but it’s a slow process which is fascinating. I then worked for a creative agency and a tech start up. It was fun. I got the biggest client for that agency and worked on a massive project which was based on Tech and Health Hackathon connecting two countries and many young brilliant minds.<p>
                            
                            <p> <strong>What’s next?</strong><p> 
                            <p>I quit the corporate world and decided to see what else is there in the world. How else can I contribute to the world? I got married. I got into coding and my world has changed. I have been blogging on medium.com experimenting with my writing which is the most an amazing experience.<p>

                            <p>I am learning to sew. I want to wear my own clothes and save the planet from short lived “fashion”. I am a writer who learned to code and knows what html, css and java script is. I know how to develop websites into beautiful looking pages with a bit of code. I call it magic!<p> 

                            <p><em>If you’d like to work with me you know where to find me.</em></p>
                        </td>
                    <td>
                        <ul>
                            <li>
                                <img src="images/erika_profile_photopng.png" style="height="500" width="600" alt="Erika Chaudhary">
                            </li>
                        </ul>
                    </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
<div class="card text-center">
   <h2>
    <tbody>
        <ul>
            <li><a href="https://medium.com/@erikap02"> Medium </a>
                </li>
            <li><a href="https://twitter.com/ErikaChaudhary"> Twitter </a>
                </li>
            <li><a href="https://www.linkedin.com/in/erika-chaudhary-6a7b77/"> Linkedin </a> 
            </li>
        </ul> 
    </tbody>   
</div>

</html>